# Dependencies
node_modules/
Vertion Controll/
*.Vertion Controll
# State files
state.json
subscribers.json

# Logs
logs/
*.log

# Environment
.env
.env.local

# Bun
bun.lockb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
