# Dependencies
node_modules/
package-lock.json
bun.lock
Vertion Controll/
*.Vertion Controll

# State files
state.json
subscribers.json

# Logs
logs/
*.log

# Environment
.env
.env.local

# Bun
bun.lockb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Test files
test.js
test*.js
*.test.js

# Backup
backup/
